.newcontainer {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Lato", sans-serif;
}
.newd1 {
  width: 70%;
  height: 100%;
  overflow: hidden;
  float: left;
  background: url(https://i.imgur.com/D2kCuA5.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
}
.newlogin{
  z-index: 1;
  position: fixed;
  overflow: hidden;
  width:  100%;
  height: 100%;
  max-width: 500px;
  right: 0;
  margin: 0;
  background: white;
}
.newform {
  margin: 20px 30px;
}
.newform h2 {
  font-size: 20px;
  text-align: center;
}
.field {
width: 100%;
font-size: 16px;
}
.newlabel {
width: 100%;
}
.newavatar {

}

hr {
  width: 100%;
  height: 100%;
  overflow: hidden;
  float: right;
}